.input-command__text-container {
    background: inherit;
    color: inherit;
    /*align-self: stretch;*/
    flex-grow: 1;
    border: 0;
    outline: none;
    font: inherit;
}

    .input-command__text-container.empty::after {
        content: "Enter command here...";
        font-size: 12px;
        color: var(--font-color-low-priority);
        pointer-events: none;
        font-family: 'Cascadia Code';
        font-weight: 200;
    }

    .input-command__text-container.empty:focus::after {
        content: none;
    }


